* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html,
body {
  height: 100%;
  overflow: auto;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE */
}
body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

/* HEAEDER */

header {
  background-image: url("./katanabg.png");
  background-size: contain;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 40vh;
  width: 100%;
}
h1 {
  font-size: 5rem;
  font-family: Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: bolder;
  /* border: #333 solid 2px; */
  background-image: url("./katanastyle.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
  transition: all 0.5s ease;
  cursor: none;
  letter-spacing: -0.4rem;
  /* line-height: 1; */
}
h1:hover {
  background-image: url("./katanastyle.png");
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  background-size: contain;
  letter-spacing: -0.2rem;
  font-size: 6rem;
}
span {
  letter-spacing: normal;
  color: rgb(148, 0, 0);
  font-size: 5.2rem;
  text-shadow: 0px 0px 1px #000;
}
#elegant {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-weight: 500;
}
#simple {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-style: oblique;
  font-weight: bolder;
}
#different {
  font-family: "Courier New", Courier, monospace;
  font-style: oblique;
  font-weight: bolder;
}

/* MAIN */

main {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-color: #000;
  /* border: 5px solid white; */
  padding: 0 1rem;
}
/* search module*/
.search {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 80px;
  background-color: white;
  border-end-end-radius: 1rem;
  border-end-start-radius: 1rem;
  padding: 5px;
  margin-bottom: 1rem;
}
h2 {
  color: #000;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 2rem;
}
form {
  /* border: #000 solid 2px; */
  width: 70%;
  display: flex;
  height: 40px;
  margin-bottom: 5px;
}
input {
  flex: 3;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
  border: none;
  border-radius: 50px;
  color: gainsboro;
  line-height: 1;
  padding-top: 5px;
}
input::placeholder {
  /* padding-left: 1rem; */
  color: gray;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
}
input:focus {
  outline: none;
  box-shadow: inset 3px 3px 3px #cbced1, inset -3px -3px 3px white;
}
.search input[type="text"] {
  padding-left: 1rem;
  font-size: 0.8rem;
  color: #000;
}
button {
  flex: 1;
  transition: all 0.3s ease;
  border-radius: 50px;
  border: none;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: 500;
  background-color: #cbced1;
  line-height: 1;
}
button:hover {
  background-color: #000;
  color: #fff;
  cursor: pointer;
}

/* MAIN SECTION */

.main-section {
  height: 80vh;
  background-color: #fff;
  width: 100%;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  padding: 0.5rem;
  padding-bottom: 0%;
  display: flex;
}
/* results */
.results {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  align-content: baseline;
  justify-content: space-evenly;
  box-shadow: inset 0px 0px 3px #000;
  border-top-left-radius: 0.5rem;
  overflow: auto;
  scrollbar-width: thin;
}
.track-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* padding: 0.5rem; */
  max-width: 15rem;
  width: 12rem;
  height: 5rem;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  background-blend-mode: screen;
  margin: 0.25rem;
  border: 1px solid rgba(0, 0, 0, 0.96);
}
#track {
  width: 100%;
  height: 4rem;
  padding: 0.25rem;
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
h3 {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  color: #000;
  /* padding: 1rem; */
  text-align: center;
  margin-top: 0;
}
.track {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0.5rem;
  max-height: 100%;
}
.track-container button {
  line-height: 1;
  border-radius: 50px;
  max-height: 1rem;
  max-width: 2rem;
  width: 2rem;
  min-width: 2rem;
  margin-right: 0.5rem;
}
.track-data {
  display: flex;
  justify-content: start;
}
h4 {
  font-family: "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  font-size: 1rem;
  color: #000;
  padding: 0.25rem;
}
p {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 0.8rem;
  color: #000;
  padding: 0 0.2rem;
  text-align: center;
}

/* playlist */

.playlist {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: baseline;
  box-shadow: inset 0px 0px 3px #000;
  margin-left: 0.5rem;
  border-top-right-radius: 0.5rem;
}
.playlist form {
  width: 100%;
  height: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  font-size: 1.5rem;
  font-weight: bolder;
  padding: 0.25rem;
  text-align: center;
  margin: 0;
  margin-top: 1rem;

}
.playlist input {
  box-shadow: none;
  border-bottom: #000 solid 2px;
  margin: 0 auto;
  width: 40%;
  border-radius: 0;
  margin-top: 0.5rem;
  width: 11rem;
}
.playlist input::placeholder {
  margin: 0 auto;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  font-weight: 100;
  color: #cbced1;
  margin-left: 0;
}
.playlist input[type="text"] {
  outline: none;
  box-shadow: none;
  color: #000;
}
.add {
  width: 100%;
  margin: 0% auto;
  display: flex;
  justify-content: center;
}
.add button {
  /* padding: 0.5rem; */
  max-height: 3rem;
  height: 2rem;
  width: 2rem;
  max-width: 4rem;
  margin: 1rem auto;
  background-color: #000;
  color: #fff;
}
.add button:hover {
  color: #000;
  cursor: pointer;
  background-color: #fff;
  box-shadow: #000 0px 0px 2px;
}
